In [1]:
import pandas as pd

In [2]:
cr1 = cr = pd.read_csv("CreditRisk.csv")
cr.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [3]:
cr.Property_Area.value_counts()

Semiurban    349
Urban        342
Rural        290
Name: Property_Area, dtype: int64

In [4]:
cr.isnull().sum()

Loan_ID               0
Gender               24
Married               3
Dependents           25
Education             0
Self_Employed        55
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           27
Loan_Amount_Term     20
Credit_History       79
Property_Area         0
Loan_Status           0
dtype: int64

In [5]:
cr.Gender.fillna("Male", inplace = True)
cr.Married.fillna("No", inplace = True)
cr.Dependents.fillna(0, inplace = True)
cr.Self_Employed.fillna("No", inplace = True)
cr.LoanAmount.fillna(cr.LoanAmount.median(), inplace = True)
cr.Loan_Amount_Term.fillna(cr.Loan_Amount_Term.median(), inplace = True)
cr.Credit_History.fillna(1, inplace = True)

In [6]:
cr = cr.drop(["Loan_ID"], axis = 1)

In [7]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [8]:
cr.dtypes[cr.dtypes == "object"]

Gender           object
Married          object
Education        object
Self_Employed    object
Property_Area    object
Loan_Status      object
dtype: object

In [9]:
cr.Gender.replace({'Male' :0,'Female':1 }, inplace = True)
cr.Married.replace({'No' :0,'Yes':1 }, inplace = True)
cr.Education.replace({'Not Graduate' :0,'Graduate':1 }, inplace = True)
cr.Self_Employed.replace({'No' :0,'Yes':1 }, inplace = True)
cr.Property_Area.replace({'Rural' :0,'Semiurban':1, 'Urban':2 }, inplace = True)
cr.Loan_Status      = cr.Loan_Status.replace({"Y":1, "N":0})

In [10]:
# cr.Gender           = le.fit_transform(cr.Gender)
# cr.Married          = le.fit_transform(cr.Married)
# cr.Education        = le.fit_transform(cr.Education)
# cr.Self_Employed    = le.fit_transform(cr.Self_Employed)
# cr.Property_Area    = le.fit_transform(cr.Property_Area)
# cr.Loan_Status      = cr.Loan_Status.replace({"Y":1, "N":0})

In [11]:
from sklearn.model_selection import train_test_split
cr_train, cr_test = train_test_split(cr, test_size = .2)

In [12]:
# df_os = cr_train[cr_train["Loan_Status"] == 0]
# cr_train = pd.concat([cr_train , df_os , df_os])

In [13]:
cr_train_x = cr_train.iloc[:, 0:-1]
cr_train_y = cr_train.iloc[:, -1]

cr_test_x = cr_test.iloc[:, 0:-1]
cr_test_y = cr_test.iloc[:, -1]

In [14]:
# lets dol the same with the decision tree

In [15]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(class_weight="balanced", max_depth=8,
                       min_samples_split=50)

In [16]:
# from sklearn.model_selection import GridSearchCV

In [17]:
# search_dict = {"criterion" : ["gini", "entropy"], 
#               "max_depth": range(5, 20), 
#               "min_samples_split": range(50, 100, 150)}

In [18]:
# dt_best = GridSearchCV(dt, param_grid = search_dict)

In [23]:
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, f1_score, recall_score

In [24]:
dt.fit(cr_train_x, cr_train_y)

DecisionTreeClassifier(class_weight='balanced', max_depth=8,
                       min_samples_split=50)

In [25]:
cr_test_pred = dt.predict(cr_test_x)

In [26]:
confusion_matrix(cr_test_y, cr_test_pred)

array([[ 29,  19],
       [ 32, 117]], dtype=int64)

In [27]:
accuracy_score(cr_test_y, cr_test_pred)*100

74.11167512690355

In [28]:
recall_score(cr_test_y, cr_test_pred)*100

78.52348993288591

In [29]:
precision_score(cr_test_y, cr_test_pred)*100

86.02941176470588

In [30]:
f1_score(cr_test_y, cr_test_pred)*100

82.10526315789475

In [31]:
# now we have to enter the data 
cr.columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [41]:
def Loan_approval_calculator():
    global df
    df = pd.DataFrame()
    print("Please input the details as required")
    df['Gender'] = [input("Male/Female").lower()]
    df['Married'] = [input("No/Yes").lower()]
    df['Dependents'] = [int(input("1/0"))]
    df['Education'] = [input("Graduate/Not Graduate").lower()]
    df['Self_Employed'] = [input("No/Yes").lower()]
    df['ApplicantIncome'] = [int(input("In thousands"))]
    df['CoapplicantIncome'] = [int(input("In thousands"))]
    df['LoanAmount'] = [int(input("In thousands"))]
    df['Loan_Amount_Term'] = [int(input("In no. of months"))]
    df['Credit_History'] = [int(input("1/0"))]
    df['Property_Area'] = [input("Rural/Semiurban/Urban").lower()]
    df.Gender.replace({'male' :0,'female':1 }, inplace = True)
    df.Married.replace({'no' :0,'yes':1 }, inplace = True)
    df.Education.replace({'not grdaduate' :0,'graduate':1 }, inplace = True)
    df.Self_Employed.replace({'no' :0,'yes':1 }, inplace = True)
    df.Property_Area.replace({'rural' :0,'semiurban':1, 'urban':2 }, inplace = True)
    a = dt.predict_proba(df)[0][1]
    
    return a*100

In [42]:
Loan_approval_calculator()

Please input the details as required

Male/Female Male
No/Yes No
1/0 1
Graduate/Not Graduate Graduate
No/Yes No
In thousands 3000
In thousands 300
In thousands 200
In no. of months 360
1/0 1
Rural/Semiurban/Urban Rural

80.4751170452575

In [43]:
df

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,0,0,1,1,0,3000,300,200,360,1,0

In [44]:
cr_train_x

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
691,0,0,0.0,1,1,6356,0.0,50.0,360.0,1.0,0
908,0,1,1.0,0,0,1792,2565.0,128.0,360.0,1.0,2
766,0,0,0.0,1,0,5000,0.0,148.0,360.0,1.0,0
832,0,1,1.0,1,1,3507,3148.0,212.0,360.0,1.0,0
502,0,1,2.0,1,0,4865,5624.0,208.0,360.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...
910,0,0,0.0,1,0,6478,0.0,108.0,360.0,1.0,1
15,0,0,0.0,1,0,4950,0.0,125.0,360.0,1.0,2
515,0,1,4.0,1,0,3466,3428.0,150.0,360.0,1.0,0
318,1,0,1.0,1,0,3541,0.0,112.0,360.0,1.0,1
931,0,1,0.0,0,0,1700,2900.0,67.0,360.0,0.0,2

In [48]:
dt.predict_proba(df)[0][1]

0.804751170452575

In [222]:
import pickle

In [224]:
pickle.dump(cr.to_dict(), open('cr.pkl', 'wb'))